*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition:all .2s cubic-bezier(.34, 1.12, .68, 1.31);
}

.gallery{
    min-height: 100vh;
    background: white;
    padding-bottom: 100px;
}

.gallery .controls{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
}
.gallery .controls .buttons{
    height: 40px;
    width: 140px;
    background: #fff;
    color: #666;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgb(0, 0, 0 ,.3);
    margin: 20px;
    text-align: center;
}
.gallery .controls .buttons.active{
    background: yellow;
}

.gallery .images-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery .images-container .image{
    height: 250px;
    width: 350px;
    overflow: hidden;
    border: 15px solid #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.gallery .images-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery .images-container .image:hover img{
    transform: scale(1.4);
}
.icons{
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 3px;
    justify-content: center;
    flex-wrap: wrap;
}
.icons li{
    margin-right: 10px;
}
.card-body{
    background: coral;
}